$theme-colors: (
    'primary': #46794d, //Covalence Blue!  :D
    'secondary': #bdd2bf,
    'warning': #113416,
    'danger': rgb(173, 13, 13),
    'success': #4e8756,
    'info': #edf3ee
);

.section-bgc {
    background-color: rgb(226, 173, 123);
}
#wrapper {
    min-height: 100vh
};

#navbar-svg {
    height: 55px;
    width: 55px;
   
};

#svg-pestle {
    height: 60px; 
    width: 60px;
}

#svg-mailbox, #svg-unlocking {
    height: 45px;
    width: 45px;
    // margin-right: 10px
}

// #svg-wrapper {
//     height: 100px;
//     width: 100px;
// }

@import '../../../node_modules/bootstrap/scss/bootstrap.scss';
