//earthy greens
// $theme-colors: (
//     'primary': #46794d, //Covalence Blue!  :D
//     'secondary': #bdd2bf,
//     'warning': #113416,
//     'danger': rgb(172, 33, 33),
//     'success': #4e8756,
//     'info': #edf3ee
// );

// blue
$theme-colors: (
    'primary': #195f9f, 
    'secondary': #e0d1ba,
    'warning': #195f9f,
    'danger': rgb(43, 126, 11),
    'success': #195f9f,
    'info': #f8fafd
);

.icon {
    height: 50px;
    width: 50px;
}

.section-bgc {
    background-color: rgb(226, 173, 123);
};

#wrapper {
    min-height: 90vh
};

#navbar-svg {
    height: 50px;
    width: 50px;
   
};

#svg-pestle {
    height: 50px; 
    width: 50px;
}

#svg-mailbox, #svg-unlocking {
    height: 45px;
    width: 45px;
    // margin-right: 10px
}

#footer {
    min-height: 10vh;
    max-height: fit-content;
}

// #svg-wrapper {
//     height: 100px;
//     width: 100px;
// }

@import '../../../node_modules/bootstrap/scss/bootstrap.scss';
